<div id="banniere" class="mt-5">
  <h2 class="text-center fw-bold">Des voitures d'occasions pour tous les budgets.</h2>
</div>
<footer>
  <div class="container-lg">
    <ul class="d-flex align-items-center justify-content-md-around text-white flex-column flex-lg-row">
      <li>© Centre'Auto'Ccas 2021</li>
      <li><a routerLink='contact'>Contact</a></li>
      <li><a routerLink='cgu'>CGU</a></li>
      <li><a routerLink='confidentialite'>Politique de confidentialité</a></li>
      <li><a routerLink='mentionslegales'>Mentions Légales</a></li>
      <li><a routerLink='plan'>Plan du site</a></li>
    </ul>
  </div>
</footer>

